<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
        <script type="text/javascript" src="/js/addUserFormValidation.js"></script>
    </head>
    <body>
        <p>
            <h2><center>Add New SIP Extension</center></h2>
        </p>
        <p><center>
            <form name=addsipform method="post" onsubmit="return validateForm()">
            <table>
                <tr>
                    <td>Label:</td>
                    <td><input type="text" name="label"></td>
                </tr>
                <tr>
                    <td>SIP Extension:</td>
                    <td><input type="text" name="exten"></td>
                </tr>
                <tr>
                    <td>SIP Type:</td>
                    <td><input type="text" name="siptype"></td>
                </tr>
                <tr>
                    <td>Context:</td>
                    <td><input type="text" name="context"></td>
                </tr>
                <tr>
                    <td>SIP Server:</td>
                    <td><input type="text" name="sipserver"></td>
                </tr>
                <tr>
                    <td>SIP Password</td>
                    <td><input type="text" name="secret"></td>
                </tr>
                <tr>
                    <td><button type="submit" formaction="/newsip">Add</button></td>
                </tr>
            </table>
        </form> 
        </center></p>
    </body> 
</html>