<!DOCTYPE html>
<html>

<head>
    <title>FastAPI project template</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

</head>

<h1>JS310 Final project</h1>
<h2>Asterisk PBX SIP module</h2>

  <body>
    <p><b><h3>Final Project Components</h3></b>
        <ul>
            <li>docker</li>
            <li>FastAPI container</li>
            <li>Postgressql container</li>
            <li>SIP (VoIP protocol) database schema</li>
            <li>Load db test data</li>
            <li>pyscopg2 python SQL functions</li>
            <li>sipusers.html with jinja2 template displaying table</li>
            <li>jquery table organizer</li>
            <li><a href="/sipusers">SIP users page</a></li>
            <li><a href="/addsipuser">SIP Add users page</a></li>
            <li>JS form validation for /addsipusers</li>
            <li>Custom REST API <a href=/api/example>example 1</a></li>
            <li>Custom REST API <a href=/api/example/favoritefood/dimsum>Favorite food, example 2</a></li>
            <li>SQL pull , <a href=/phonebook>JS Dynamic phonebook</a></li>
        </ul>
    </p>
  <body>
</html>