<!DOCTYPE html>
<html>

<head>
    <title>FastAPI project template</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/apiPhonebook.js"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<body>
    <h3>Phone Directory API example</h3>
<p><center>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Extension</th>
        </tr>
    </thead>
    <tr id="numbers">

    </tr>
</table>
</center></p>
</body>
</html>