<html>
    <head>
        <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='bootstrap.min.css') }}" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/js/jquery.tablesorter.widgets.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/table.js"></script>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
    </head>
<body>
    <p>
        <h2><center>SIP extensions</center></h2>
    </p>
    <p><center>
<table id=siptable class=tablesorter>
  <thead>
    <tr>
      <th><a id=editHeader title="Edit SIP extension">Edit</a></th>
      <th><a id=editHeader title="SIP ext. unique ID">ID</a></th>
      <th><a id=editHeader title="registered extension/phonenumber string">Extension</a></th>
      <th><a id=editHeader title="Common name or description">Label</a></th>
      <th><a id=editHeader title="peer,user, or friend configuration">SIP Type</a></th>
      <th><a id=editHeader title="the default dial plan avaialable to this extension">Context</a></th>
      <th><a id=editHeader title="SIP server address">SIP Server</a></th>
      <th><a id=editHeader title="SIP password (secret)">SIP Password</a></th>
    </tr>
  </thead>
  <tbody>
        {% for user in siptable %}
        <tr>
            <td><a id=editSip>edit</a></td>
            <td>{{ user[0]|e }}</td>
            <td>{{ user[1]|e }}</td>
            <td>{{ user[2]|e }}</td>
            <td>{{ user[3]|e }}</td>
            <td>{{ user[4]|e }}</td>
            <td>{{ user[5]|e }}</td>
            <td>{{ user[6]|e }}</td>
        </tr>
        {% endfor %}
  </tbody>
</table>
</center>
</p>
</body> 
</html>
