.header {
    background-color: rgb(238, 233, 245);
    text-align: center;
    padding: 20px;
    background-image: url("Signature_Stacked_White.png");
}

body {
    background-color: #ebe7f0;
}

h1 {
    color: rgb(51, 0, 111);
    text-align: center;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(51, 0, 111);
}

table,
td,
tr,
th {
    border: 2px solid rgb(51, 0, 111);
    text-align: left;
    border-collapse: collapse;
}

input {
    width: 110
}